# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
ENV/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/
src/
# OS files
.DS_Store
Thumbs.db

# Misc
*.log
*.tmp
