# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
ENV/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Data and output folders
External_Results/
Models/
Reports/
Detection_Results/
Processed_Contracts/
Preprocessed_Contracts/
Extracted_Features/
SmartContracts/
External_Contracts/

# OS files
.DS_Store
Thumbs.db

# Misc
*.log
*.tmp
